@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-soviet-black text-[#e5e5e5] font-mono antialiased;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #111;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ccff00;
  }
}